@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    font-family: "Inter", sans-serif;
    background-color: rgba(202, 200, 200, 0.201);
    /* border: 2px solid red; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid blue; */
}

/* Shared style */
#btn-primary {
    width: 160px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: rgb(255, 89, 89);
    cursor: pointer;
}

.hide {
    display: none;
}


/* Banner style */
.banner-container {
    /* border: 2px solid red; */
    min-height: 600px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('../asset/images/do-img-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin-bottom: 80px;
}

.banner-contents {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-contents h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 700;
}

.banner-contents p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin: 20px auto 30px auto;
}

/* Donate style */
.donate-container {
    /* border: 2px solid red; */
    min-height: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.donate-contents h3 {
    color: rgb(18, 18, 18);
    font-size: 2.5rem;
    font-weight: 700;
}

.donate-contents p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto 50px auto;
}

.box {
    width: 650px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.box h5 {
    color: rgb(112, 112, 112);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 30px 20px 30px 20px;
}

.box-primary {
    border-radius: 5px;
    background: rgb(250, 250, 250);
}

.single-box {
    border: 2px solid rgb(255, 89, 89);
    border-radius: 5px;
    background: rgb(255, 238, 238);
}

#spacial {
    color: rgb(179, 179, 179);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin: 60px auto 10px auto;
}

.donate-container hr {
    margin: 2rem 0;
    border: 1px solid rgb(218, 218, 218);
    max-width: 650px;
    margin: 8px auto 30px auto;
}

/* Donate plan style */
.donate-plan-container {
    /* border: 2px solid red; */
    min-height: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.plan-contents h3 {
    color: rgb(18, 18, 18);
    font-size: 2.5rem;
    font-weight: 700;
}

.plan-contents p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto 50px auto;
}

.card-box {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card-box h5 {
    color: rgb(18, 18, 18);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    margin: 15px auto;
}

.card-box p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.pri-card-box-1,
.pri-card-box-2,
.pri-card-box-3 {
    width: 302px;
    min-height: 300px;
    text-align: left;
    border-radius: 5px;
    padding: 30px 20px 30px 20px;
}

.pri-card-box-1 {
    background: rgba(79, 157, 166, 0.1);
}

.pri-card-box-2 {
    background: rgba(255, 89, 89, 0.1);
}

.pri-card-box-3 {
    background: rgba(252, 123, 123, 0.26);
}

/* Tow card style */
.two-card-container {
    /* border: 2px solid red; */
    min-height: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}

.card-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 40px;
}

.card-1 {
    margin-bottom: 80px;
}

.card-img img {
    width: 400px;
    min-height: 300px;
    border-radius: 5px;
    filter: brightness(90%);
}

.card-description {
    justify-content: center;
    align-items: center;
    text-align: left;
}

.card-description h3 {
    color: rgb(18, 18, 18);
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.card-description p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}

#card-btn {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 18px 14px 18px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 89, 89);
    margin-top: 16px;
    cursor: pointer;
}

/* Update style */
.update-container {
    /* border: 2px solid red; */
    min-height: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    padding: 5px;
}

.update-contents h3 {
    color: rgb(18, 18, 18);
    font-size: 2.5rem;
    font-weight: 700;
}

.update-contents p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin: 14px auto 40px auto;
}

.btn-gap {
    width: 780px;
    margin: 0 auto;
    padding: 50px 20px 50px 20px;
    background: rgb(255, 244, 214);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#email {
    width: 275px;
    height: 50px;
    color: rgba(39, 39, 39, 0.6);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background: rgb(217, 217, 217);
    padding: 15px;
}

#subscribe {
    width: 157px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background: rgb(255, 89, 89);
    cursor: pointer;
}

/* Footer style */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(11, 13, 23);
    padding: 30px 20px 20px 20px;
}

.footer-contents h3 {
    color: rgb(255, 89, 89);
    font-family: Lobster;
    font-size: 2rem;
    font-weight: 400;
}

.footer-contents p {
    color: rgb(217, 219, 225);
    font-family: Manrope;
    font-size: 1rem;
    font-weight: 400;
    margin: 24px auto;
}


/* Responsive style */
@media screen and (max-width: 576px) {
    .banner-contents {
        /* border: 2px solid red; */
        width: 93%;
        margin: 0 auto;
    }

    /* Donate style */
    .donate-contents {
        width: 93%;
        margin: 0 auto;
    }

    .box {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    /* Donate plan */
    .plan-contents {
        width: 93%;
        margin: 0 auto;
    }

    .card-box,
    .card-div {
        flex-direction: column;
    }

    .pri-card-box-1,
    .pri-card-box-2,
    .pri-card-box-3 {
        width: 90%;
    }

    /* Two card style */
    .two-card-container {
        padding: 20px;
    }

    .card-img img {
        width: 100%;
    }

    #card-box-2 {
        flex-direction: column-reverse;
    }

    .card-1 {
        margin-bottom: 40px;
    }

    /* Update style */
    .update-container {
        width: 93%;
    }

    .btn-gap {
        width: 100%;
    }

    #email {
        width: 150px;
    }

    #subscribe {
        width: 100px;
    }

    /* Common style */
    br {
        display: none;
    }

    #br {
        display: block;
    }

    .donate-container hr {
        width: 90%;
    }
}

/* Medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .update-container,
    .two-card-container,
    .donate-plan-container,
    .donate-container {
        padding: 20px;
    }

    .banner-contents,
    .donate-contents,
    .plan-contents,
    .update-contents {
        width: 93%;
        margin: 0 auto;
    }

    .box {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

    .card-box,
    .card-div {
        flex-direction: column;
    }

    .pri-card-box-1,
    .pri-card-box-2,
    .pri-card-box-3 {
        width: 100%;
    }

    .card-img img {
        width: 100%;
    }

    #card-box-2 {
        flex-direction: column-reverse;
    }

    .btn-gap {
        width: 100%;
    }

    /* Common style */
    br {
        display: none;
    }

    #br {
        display: block;
    }

    .donate-container hr {
        width: 90%;
    }
}