@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Inter", sans-serif;
    /* border: 2px solid red; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid blue; */
}

/* Shared style */
#btn-primary {
    width: 160px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: rgb(255, 89, 89);
    cursor: pointer;
    /* padding: 16px 12px 16px 12px; */
}

.hide {
    display: none;
}


/* Banner style */
.banner-container {
    /* border: 2px solid red; */
    min-height: 600px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('../asset/images/do-img-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin-bottom: 80px;
}

.banner-contents {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-contents h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 700;
}

.banner-contents p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin: 20px auto 30px auto;
}

/* Donate style */
.donate-container {
    /* border: 2px solid red; */
    min-height: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
    /* padding: 20px; */
}

.donate-contents h3 {
    color: rgb(18, 18, 18);
    font-size: 2.5rem;
    font-weight: 700;
}

.donate-contents p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto 50px auto;
}

.box {
    /* border: 2px solid red; */
    width: 650px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.box h5 {
    color: rgb(112, 112, 112);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 30px 20px 30px 20px;
}

.box-primary {
    border-radius: 5px;
    background: rgb(250, 250, 250);
}

.single-box {
    border: 2px solid rgb(255, 89, 89);
    border-radius: 5px;
    background: rgb(255, 238, 238);
}

#spacial {
    color: rgb(179, 179, 179);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin: 60px auto 10px auto;
}

.donate-container hr {
    margin: 2rem 0;
    border: 1px solid rgb(218, 218, 218);
    max-width: 650px;
    margin: 8px auto 30px auto;
}

/* Donate plan style */
.donate-plan-container {
    /* border: 2px solid red; */
    min-height: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.plan-contents h3 {
    color: rgb(18, 18, 18);
    font-size: 2.5rem;
    font-weight: 700;
}

.plan-contents p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto 50px auto;
}

.card-box {
    /* border: 2px solid rgb(44, 6, 6); */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card-box h5 {
    color: rgb(18, 18, 18);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    margin: 15px auto;
}

.card-box p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.pri-card-box-1,
.pri-card-box-2,
.pri-card-box-3 {
    /* border: 2px solid red; */
    width: 320px;
    min-height: 300px;
    text-align: left;
    border-radius: 5px;
    padding: 30px 20px 30px 20px;
}

.pri-card-box-1 {
    background: rgba(79, 157, 166, 0.1);
}

.pri-card-box-2 {
    background: rgba(255, 89, 89, 0.1);
}

.pri-card-box-3 {
    background: rgba(252, 123, 123, 0.26);
}


/* Responsive style */
@media screen and (max-width: 576px) {
    .banner-contents {
        /* border: 2px solid red; */
        width: 93%;
        margin: 0 auto;
    }

    /* Donate style */
    .donate-contents {
        width: 93%;
        margin: 0 auto;
    }

    .box {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
    }

    /* Common style */
    br {
        display: none;
    }

    .donate-container hr {
        width: 90%;
    }

    /* Donate plan */
    .plan-contents {
        width: 93%;
        margin: 0 auto;
    }

    .card-box {
        flex-direction: column;
    }

}